<h3>StoryChat<i class="medium material-icons">chat</i></h3>
<div class="section">
    <p class="lead"> Create and Connect </p>
</div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login With Google
    </a>
</div>